{% extends 'theme/base.html' %}

{% block title %}ログイン{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<div class="container">
    <!--<form action="{% url 'line_login' %}" method="post">
    {% csrf_token %}
    <button class="btn btn-success btn-lg btn-block" type="submit">LINEでログイン</button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <hr />-->
  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label for="id_username">ユーザー名:</label>
    <input class="form-control" type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
    <label for="id_password">パスワード:</label>
    <input class="form-control" type="password" name="password" autocomplete="current-password" required id="id_password">
    <button class="btn btn-primary" type="submit" value="login" >ログイン</button>
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}

{% block extra_js %}
{% endblock %}
